{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inscription</title>

    <!-- Custom fonts for this template-->
    <link href= "{% static 'css/all.min.css' %}" rel="stylesheet"  type="text/css">
<!--   <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href= "{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet"  type="text/css">


     <style>
      body {
          background: url("{% static 'img/login.jpg' %}")  center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          background
          }
      .container{
            background-color:rgba(0,0,0,0.3);
      }

      footer{
            display:block;
            position: absolute;
            left: 0px;
            right:0px;
            bottom: 0px;
            color:#fff ;
            background:#115;
        }
      .sms{
            background-color:rgba(0,0,0,0.8);
      }

    </style>


</head>

<body class="">

<div class="sms">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show " role="alert" style="color:red "  >
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
</div>


    <div class="container">

        <div class=" o-hidden border-0  my-5">
            <div class="card-body p-2">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block"></div>
                        <div class="p-10">
                            <div class="text-center" style="text:100px">
                                <h1 class="h1 text-gray-900 mb-4">Création de compte</h1>
                            </div>
                            <form class="user" method="post" action="{% url 'inscrit' %}" style="color:#111">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-5 mb-sm-0" style="text-align:center" >Nom de l'utilisateur
                                        <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Nom de l'utilisateur">
                                    </div>
                                </div>
                                <div class="form-group" style="text-align:center">Adresse email
                                    <input type="email" class="form-control form-control-user" id="email" name="email" placeholder="Adresse email">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0" style="text-align:center">Mot de passe
                                        <input type="password" class="form-control form-control-user" id="pass1" name="pass1" placeholder=" Mot de passe">
                                    </div>
                                    <div class="col-sm-6" style="text-align:center">Confirme mot de passe
                                        <input type="password" class="form-control form-control-user" id="pass2" name="pass2" placeholder="Confirme mot de passe">
                                    </div>
                                </div>
                                <button  type="submit" class="btn btn-primary btn-user btn-block"> S'inscrire </button>
                                <hr>
                                <a href="{% url 'Erreur' %}" class="btn btn-google btn-user btn-block">
                                    <i class="fab  fa-fw"></i> Continuer avec Google
                                </a>
                            </form>
                            <hr>
                            <div class="text-center" style="color:#111" >
                                <a class="small" href="{% url 'Login' %}"  style="color:#fff; font-size:15px "><b> Vous avez déjà un compte? Connexion!</b></a>
                            </div>
                        </div>
                </div>
            </div>

         </div>
    </div>
    <!-- Bootstrap core JavaScript-->

    <script src= "{% static 'js/jquery.min.js' %}" type="text/javascript" ></script>
    <script src= "{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript" ></script>

    <!-- Core plugin JavaScript-->
    <script src= "{% static 'js/jquery.easing.min.js' %}" type="text/javascript" ></script>

    <!-- Custom scripts for all pages-->
    <script src= "{% static 'js/sb-admin-2.min.js' %}" type="text/javascript" ></script>

</body>


<footer>
<center >
             <p> En continuant vous acceptez<br>les <a href="{% url 'Erreur' %}" class="">conditions d'utilisation</a> de SalariApp et reconnaissez avoir lu notre&nbsp;<br>
          <a href="{% url 'Erreur' %}" class="" >Politique de confidentialité</a>
        </p>
        <p class="u-text u-text-white u-text-7"> (c)2021 SalariApp, tous droits réservés</p>

</center>
</footer>
</html>