
{% extends 'main.html' %}

{% load static %}

{% block contenu %}

        <!-- ================================== DEBUT DU MAIN ========================================  -->

     <div class="container-form">

                    <form method="POST" action="{% url 'creerEntre' %}" class="sign-in-form">
                           <h2 class="title"><b>Renseigner les information sur l'entreprise</b></h2>
                      {% csrf_token %}
                        <div class="form-group">
                            <label for="nomEntreprise"> Nom de l'entreprise</label>
                            <input type="text" class="  input-field" id="nomEntreprise" name="nomEntreprise" placeholder="Entrer le nom ">
                        </div>
                        <div class="form-group">
                            <label for="activite"> Activite de l'entreprise</label>
                            <input type="text" class="   input-field" id="activite" name="activite" placeholder="Entrer l'activite ">
                        </div>
                        <div class="form-group">
                            <label class="anneeCreation"> Annee de création de l'entreprise</label>
                            <input type="date" class="input-field" id="anneeCreation" name="anneeCreation" placeholder="Entrer l'annee de création ">
                        </div>
                        <div class="form-group">
                            <label class="effectif"> Effectif de l'entreprise</label>
                            <input type="number" class="input-field" id="effectif" name="effectif" placeholder="Entrer l'effectif ">
                        </div>
                         <div class="form-group">
                            <label class="capital"> Capital de l'entreprise</label>
                            <input type="number" class="input-field" id="capital" name="capital" placeholder="Entrer le capital ">
                        </div>
                        <div class="form-group">
                            <label class="chiffreAffaire"> Le chiffre d'affaire de l'entreprise</label>
                            <input type="number" class="input-field" id="chiffreAffaire" name="chiffreAffaire" placeholder="Entrer le chiffre d'affaire ">
                        </div>
                        <div class="form-group">
                            <label class="nomDirecteur"> Le nom du directeur</label>
                            <input type="text" class="input-field" id="nomDirecteur" name="nomDirecteur" placeholder="Entrer le nom du directeur ">
                        </div>
                        <div class="form-group">
                            <label class="numeroContribuable"> Le numero contribuable</label>
                            <input type="number" class="input-field" id="numeroContribuable" name="numeroContribuable" placeholder="Entrer le numero contribuable ">
                        </div>
                        <div class="form-group">
                            <label class="img">Une image de vous ou de l'entreprise</label>
                            <input type="file" class="input-field" id="img" name="img" placeholder="Entrer une image de vous ou de l'entreprise ">
                        </div>
                         <div class="form-group">
                             <label for="formeJuridique" class="" >Forme juridique </label>
                                  <select  class="input-field" id="formeJuridique" name="formeJuridique">
                                     <option value="">______________</option>
                                     <option value="SCS">SCS</option>
                                     <option value="SNC">SNC</option>
                                     <option value="SARL">SARL</option>
                                     <option value="SA">SA</option>
                                     <option value="SAS">SAS</option>
                                     <option value="GIE">GIE</option>
                                     <option value="SEP">SEP</option>
                                     <option value="SCP">SCP</option>
                                     <option value="SCI">SCI</option>
                                     <option value="SP">SP</option>
                                 </select>
                         </div>

                        <input type="submit" class="btn center" value="Ajouter" />

                        <a href="{% url 'EntrepriseMenu' %}">
                            <div class="btn retour">Retour</div>
                        </a>
                    </form>

                        {{ form.errors }}

     </div>

<!--

{{entreprises.nomEntreprise}}
{{entreprises.activite}}
{{entreprises.anneeCreation}}
{{entreprises.effectif}}
{{entreprises.capital}}
{{entreprises.chiffreAffaire}}
{{entreprises.nomDirecteur}}
{{entreprises.numeroContribuable}}
{{entreprises.formeJuridique}}

-->
        <!-- ======================================= FIN MAIN ======================================== -->




{% endblock %}