{% extends 'main.html' %}

{% load static %}

{% block contenu %}

        <!-- ================================== DEBUT DU MAIN ========================================  -->

             <div class="table-entrprise">

                <h2>Informations sur l'entreprise</h2>
                <table border="2px">
                    <thead>
                            <tr>
                                <th>Nom</th> <td>{{entreprises.nomEntreprise}}</td>
                                <th>Numéro contribuable</th> <td>{{entreprises.numeroContribuable}}</td>
                            </tr>
                            <tr>
                                <th>Activité</th>  <td>{{entreprises.activite}}</td>
                                <th>Nom Directeur</th> <td>{{entreprises.nomDirecteur}}</td>
                            </tr>
                            <tr>
                                <th>Année de creation</th> <td>{{entreprises.anneeCreation}}</td>
                                <th>Forme juridique</th> <td>{{entreprises.formeJuridique}}</td>
                            </tr>
                            <tr>
                                 <th>Effectif</th> <td>{{entreprises.effectif}}</td>
                                <th>Capital</th>  <td>{{entreprises.capital}}</td>
                            </tr>
                            <tr>
                                 <th>Chiffre d'affaire</th> <td>{{entreprises.chiffreAffaire}}</td>
                            </tr>
                             {% for adresses in adresses %}
                            <tr>
                                  <th colspan="">{{adresses.typeAdresse}}</th>  <td colspan="">{{adresses.valeur}}</td>
                            </tr>
                            {% endfor %}
                    </thead>
                </table>
                 <a href="{% url 'ModifierEntre' entreprises.id %}" ><button class="btn-primary btn">Modifier </button></a>
                 <a href="{% url 'pdf1' %}" ><button class="btn-primary btn">Télécharger </button></a>
            </div>
        <!-- ======================================= FIN MAIN ======================================== -->
 {% endblock %}
