{% extends 'main.html' %}

{% load static %}

{% block contenu %}

        <!-- ================================== DEBUT DU MAIN ========================================  -->
        <main>

            <div class="insi">
                            <!-- ================================== DEBUT DES PRIX ========================================  -->
                <div class="prix">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="milieu">
                        <div class="left">
                            <h3>Nombre d'employés</h3>
                            <h1>{{i}}</h1>
                        </div>
                        <div class="progres">
                            <svg>
                                <circle cx="38" cy="38" r="36" ></circle>
                            </svg>
                            <div class="numero">
                                <p>15%</p>
                            </div>
                        </div>
                    </div>
                    <small class="titi">Les derniers 24h</small>
                </div>
                            <!-- ================================== FIN DES PRIX ========================================  -->

                            <!-- ================================== DEBUT DES DONNEES ========================================  -->

                <div class="donnees">
                  <span class="material-icons-sharp">bar_chart</span>
                    <div class="milieu">
                        <div class="left">
                            <h3>Salaire total du mois passé</h3>
                             <h1>{{b}} Fcfa</h1>
                         </div>
                        <div class="progres">
                            <svg>
                                 <circle cx="38" cy="38" r="36" ></circle>
                            </svg>
                            <div class="numero">
                                <p>50%</p>
                             </div>
                         </div>
                    </div>
                        <small class="titi">Les derniers 24h</small>
                </div>
                            <!-- ================================== FIN DES DONNEES ========================================  -->

                            <!-- ================================== DEBUT DES INFO ========================================  -->

            <div class="info">
                <span class="material-icons-sharp">stacked_line_chart</span>
                <div class="milieu">
                    <div class="left">
                        <h3>Meileur salaire</h3>
                        <h1>{{a}}</h1>
                    </div>
                    <div class="progres">
                        <svg>
                            <circle cx="38" cy="38" r="36" ></circle>
                        </svg>
                        <div class="numero">
                            <p>40%</p>
                        </div>
                    </div>
                </div>
                <small class="titi">Les derniers 24h</small>
            </div>

                            <!-- ================================== FIN DES INFO ========================================  -->
          </div>

                            <!-- ================================== DEBUT TABLEAU========================================  -->
            <div class="recent-oders">
                <h2>Informations récents</h2>
                <table>
                    <thead>
                        <tr>
                            <th class="">Noms</th>
                            <th>Fonction</th>
                            <th>Prime(FCFA)</th>
                            <th>Indemnite(FCFA)</th>
                            <th>Salaire(FCFA)</th>
                            <th>Option </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kevin</td>
                            <td>Directeur</td>
                            <td>10.000</td>
                            <td>10000</td>
                            <td >2.000.000</td>
                            <td class="warning">Details</td>
                        </tr>
                        <tr>
                            <td>Kevin</td>
                            <td>Directeur</td>
                            <td>10.000</td>
                            <td>10000</td>
                            <td >2.000.000</td>
                            <td class="warning">Details</td>
                        </tr>
                        <tr>
                            <td>Kevin</td>
                            <td>Directeur</td>
                            <td>10.000</td>
                            <td>10000</td>
                            <td >2.000.000</td>
                            <td class="warning">Details</td>
                        </tr>
                        <tr>
                            <td>Kevin</td>
                            <td>Directeur</td>
                            <td>10.000</td>
                            <td>10000</td>
                            <td >2.000.000</td>
                            <td class="warning">Details</td>
                        </tr>
                        <tr>
                            <td>Kevin</td>
                            <td>Directeur</td>
                            <td>10.000</td>
                            <td>10000</td>
                            <td >2.000.000</td>
                            <td class="warning">Details</td>
                        </tr>

                    </tbody>
                </table>
                <a href="#"> Voir tout </a>
            </div>

        </main>



        <!-- ======================================= FIN MAIN ======================================== -->


 {% endblock %}


